
body{
    background-color: burlywood;
    font-size: 26px;
    /* display: flex;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    height: 100vh; */
}
.wrapper{
    width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}
header,footer{
    background-color: ghostwhite;
    padding: 20px;
}