<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            height: 400px;
            width: 40px;
            background-color: rgba(1, 1, 1,0.5);
        }
    </style>
</head>
<body>
    <div>Main page</div>
    <h1><a href=\'/logout'></a></h1>
</body>
</html>